%h1.blue.center #{@salesman.f_name} #{@salesman.l_name}
%hr
%h2.green.center These are the vehicles #{@salesman.f_name} can sell you!!
%h5.center Click on them to see more!
%br
%h3.container
	- @cars.each do |car|
		%h4.container.center
			= link_to car.make, car_path(car)
			= link_to car.model, car_path(car)
			= link_to car.year, car_path(car)
			= link_to car.color, car_path(car)
			%hr
.center
	%button.btn= link_to "Create a New Vehicle", new_car_path
